# Gitignore for Flask project with Node.js assets

# Node.js
/node_modules/ 

# Python
__pycache__/ 
*.pyc 
.pytest_cache/ 
venv/ 
/instance/ 

# Environment variables
.env
.flaskenv

# Editor and OS files
.vscode/ 
.DS_Store 